/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Source+Sans+Pro:300,400,600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.layout {
  table-layout: inherit; }

/* CSS Document */
/*   @include text-gradient(left, $c-primary, $c-secondary);*/
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 14px; }

.logo {
  background-image: url("../images/tillid.svg");
  background-size: 80px 80px;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 30%;
  left: 0;
  transform: translate(0%, -50%);
  z-index: 2; }

.logoStrip {
  width: 100%;
  background-color: #FFFFFF;
  height: 50px;
  z-index: 1029;
  top: 30px;
  display: flex;
  align-items: center; }
  .logoStrip img {
    height: 35px;
    object-fit: contain;
    margin-left: 5px; }

/* CSS Document */
.bodybg {
  background-size: contain;
  height: 100%;
  width: 100%;
  background-image: url("../images/bg.svg");
  z-index: 1;
  position: fixed; }

section {
  background-size: contain;
  height: 100%;
  width: 100%;
  padding-top: 50px; }

#home {
  background-color: rgba(210, 224, 229, 0.1); }

#technologies {
  background-color: rgba(19, 145, 190, 0.7); }

#whoweare {
  background-color: red; }

/* CSS Document */
/* CSS Document */
nav {
  padding: 0px 10px !important;
  background-color: #1391BE !important; }
  nav li {
    margin: 0;
    padding: 10px 20px; }
    nav li:hover {
      background-color: #1391BE; }
    nav li a {
      padding: 0 !important;
      color: #ffffff !important;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16); }

.onepage-pagination {
  height: auto;
  width: 20px;
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%); }
  .onepage-pagination li {
    width: 20px;
    height: 20px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .onepage-pagination li.whitePoint:hover a {
      background-color: #FFFFFF; }
    .onepage-pagination li.whitePoint a {
      background-color: rgba(1, 1, 1, 0.5); }
      .onepage-pagination li.whitePoint a.active {
        background-color: #FFFFFF; }
    .onepage-pagination li.whitePoint span {
      background-color: #FFFFFF;
      color: #1391BE; }
    .onepage-pagination li:hover a {
      width: 15px;
      height: 15px;
      background-color: #1391BE; }
    .onepage-pagination li:hover span {
      opacity: 1; }
    .onepage-pagination li a {
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      display: inline-block !important;
      border-radius: 20px;
      transition: all 0.1s ease-in;
      padding: 0px !important; }
      .onepage-pagination li a.active {
        width: 15px;
        height: 15px;
        background-color: #1391BE; }
    .onepage-pagination li span {
      padding: 5px 10px;
      border-radius: 10px 0px 0px 0px;
      background-color: #1391BE;
      color: #FFFFFF;
      position: absolute;
      right: 25px;
      white-space: nowrap;
      font-weight: 300;
      opacity: 0;
      transition: all 0.3s ease-in; }

/* CSS Document */
.blobs {
  filter: url("#goo");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@keyframes blob-left-top-anim {
  0% {
    transform: scale(1.1) translate(0, 0); }
  33% {
    transform: scale(0.9) translate(-65px, 0); }
  62% {
    transform: scale(0.7) translate(-65px, -65px); }
  94% {
    transform: scale(1.1) translate(0, 0); } }
@keyframes blob-right-top-anim {
  0% {
    transform: scale(1.1) translate(0, 0); }
  33% {
    transform: scale(0.9) translate(65px, 0); }
  64% {
    transform: scale(0.7) translate(65px, -65px); }
  96% {
    transform: scale(1.1) translate(0, 0); } }
@keyframes blob-left-bottom-anim {
  0% {
    transform: scale(1.1) translate(0, 0); }
  33% {
    transform: scale(0.9) translate(-65px, 0); }
  66% {
    transform: scale(0.7) translate(-65px, 65px); }
  98% {
    transform: scale(1.1) translate(0, 0); } }
@keyframes blob-right-bottom-anim {
  0% {
    transform: scale(1.1) translate(0, 0); }
  33% {
    transform: scale(0.9) translate(65px, 0); }
  68% {
    transform: scale(0.7) translate(65px, 65px); }
  100% {
    transform: scale(1.1) translate(0, 0); } }
.blob {
  position: absolute;
  background: #e97b7a;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite; }
  .blob:nth-child(2) {
    animation-name: blob-right-top-anim; }
  .blob:nth-child(3) {
    animation-name: blob-left-bottom-anim; }
  .blob:nth-child(4) {
    animation-name: blob-right-bottom-anim; }

#home .center {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #home .center .head {
    display: flex;
    flex-direction: row;
    align-items: center; }
    #home .center .head h1 {
      font-size: 3.5em;
      font-weight: 700;
      font-family: 'Roboto Slab', sans-serif;
      text-transform: uppercase; }
    #home .center .head .gradientBar {
      height: 36px;
      margin-left: 10px;
      flex-grow: 8;
      background: #1391BE;
      /* Old browsers */
      background: -moz-linear-gradient(10, #1391BE 0%, #BBF3A3 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1391BE), color-stop(100%, #BBF3A3));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(45deg, #1391BE 0%, #BBF3A3 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(45deg, #1391BE 0%, #BBF3A3 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(45deg, #1391BE 0%, #BBF3A3 100%);
      /* IE10+ */
      background: linear-gradient(45deg, #1391BE 0%, #BBF3A3 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1391BE', endColorstr='#BBF3A3',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
  #home .center p {
    margin-top: 5px;
    font-size: 1.5em; }
  #home .center .slick-dots {
    width: auto !important;
    bottom: -35px; }
    #home .center .slick-dots li:first-child {
      margin-left: 0 !important; }
    #home .center .slick-dots li button::before {
      content: url("../images/inactive.svg") !important; }

#wheweare, #whatwedo {
  margin: 130px 0 0 0; }
  #wheweare h1, #whatwedo h1 {
    font-size: 3.5em;
    font-weight: 600;
    font-family: "Roboto slab";
    display: inline-block;
    background: -webkit-linear-gradient(-45deg, #1391BE, #7DB95A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-transform: uppercase; }
  #wheweare p, #whatwedo p {
    font-size: 1.5em;
    margin: 15px 0px 15px 0px;
    line-height: 35px; }

#whatwedo #flexContainer {
  display: flex;
  flex-direction: row; }
  #whatwedo #flexContainer p {
    font-size: 1.6em;
    margin: 15px 0px 15px 0px;
    line-height: 40px; }
    #whatwedo #flexContainer p:first-child {
      font-size: 3.5rem;
      line-height: 60px;
      text-transform: uppercase; }
