/* CSS Document */
.bodybg{
	background-size: contain;
	height: 100%;
	width: 100%;	
	background-image: url("../images/bg.svg");	
	z-index: 1;
    position: fixed;
}
section
{
	background-size: contain;
	height: 100%;
	width: 100%;	
	padding-top:80px;
	
}
#home{
background-color: rgba($bgColor,0.1);
}

#technologies{
	background-image: url("../images/bg_black.svg");	
	background-size: cover;
}
#services{
	background-image: url("../images/69284745_l.jpg");	
	background-size: cover;	
}
#contact{
	background-image: url("../images/bg_black.svg");	
	background-size: cover;
}