/* CSS Document */
.bodybg{
	background-size: contain;
	height: 100%;
	width: 100%;	
	background-image: url("../images/bg.svg");	
	z-index: 1000;
    position: fixed;
}
section
{
	background-size: contain;
	height: 100%;
	width: 100%;	
		
}
#home{
background-color: $bgColor;
}
#technologies{
background-color: $mainColor;
}
#whoweare{
background-color: red;	
}