.logo
{
	@include app-logo($imgUrl, 80, 80);
	height: 100px;
	width: 100px;
	position: fixed;
	top: 30%;
	left: 0;
	transform: translate(0%, -50%);
	z-index: 2;	
}

.logoStrip{
	width: 100%;
	background-color: $white;
	height: 50px;
	z-index: 1029;
    top: 30px;
	display: flex;
	align-items: center;
	img
	{
		height: 35px;
		object-fit: contain;
		margin-left: 5px;
	}
	
}