#services{
      .overlay{
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(#080d17,0.9);
      }
    .title
    {
        margin-top: 20%;
        font-family: 'Roboto Slab',sans-serif;
		font-size: 3.5rem;
		@include text-gradient($gradientStart, $gradientEndText);
		font-weight: 600;
        text-align: left;
        display: inline-block;
    }

    p{
        margin-top: 15px;
        color: $white;
        line-height: 30px;
        font-size: 1.3rem;
        padding-right:35px ;
    }
    .serviceList
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .boxContainer{
            padding: 10px;
            .box{
                padding: 10px;               

                img{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 10px;
                }
                h1{
                    font-size: 1.6rem;
                    font-family: 'Roboto Slab',sans-serif;
                    font-weight: 400;
                    color: $brightBlue;
                    margin-bottom: 10px;
                    
                    
                }
                .content{
                    color:$white;
                    font-size: 1.1rem;
                    line-height: 20px;
                }
            }
        }

    }
}