#technologies{

	.box{
		
		background-color: red;
	}
	.box1{
	
		background-color: blue;
	}

	.center
	{
	  width: 60%;
	  position:absolute;
	  top:50%;
	  left:50%;
	  transform:translate(-50%,-50%);
	  height: 60px;
	 
	
	}
}